@page "/administration/rankings"

@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject ISnackbar snackbar

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <link rel="icon" type="image/x-icon" href="media/icons/fox.svg" />
    <title>Marketplace</title>
</head>
<body id="Rankings">
    <section class="navbar">
        <a class="navbar__left" href="/administration/home">
            <img src="media/icons/store.svg" alt="Store icon" />
            <img src="media/icons/NFTMarketplace.svg" alt="NFT Marketplace" />
        </a>
        <div class="navbar__right">
            <div class="navbar__right sidebar">
                <NavLink href="/administration/marketplace">Marketplace</NavLink>
                <NavLink href="/administration/rankings">Rankings</NavLink>
                <NavLink href="#">Inventory</NavLink>
                <NavLink class="navbar__right__sign-up-btn" >
                    <img src="media/icons/user.svg" alt="User icon" />
                    <span>Sign In</span>
                </NavLink>

            </div>
            <img id="burger-btn"
                 src="media/icons/burger.svg"
                 alt="Burger icon" />
        </div>
    </section>
    <section class="header">
        <div class="container">
            <h2>Top Creators</h2>
            <p>Check out top ranking NFT artists on the NFT Marketplace.</p>
        </div>
    </section>
    <section class="tabs">
        <div class="container">
            <button id="today-button">
                <h5>Today</h5>
            </button>
            <button id="this-week-button">
                <h5>This Week</h5>
            </button>
            <button id="this-month-button">
                <h5>This Month</h5>
            </button>
            <button id="all-time-button">
                <h5>All time</h5>
            </button>
        </div>
    </section>
    <section class="artists">
        <div class="container">
            <div class="artists__btns">
                <div class="artists__btns__rank-artist">
                    <p id="id-sort">#</p>
                    <p id="name-sort">Artist</p>
                </div>
                <div class="artists__btns__stats">
                    <p id="change-sort">Change</p>
                    <p id="nft-sort">NFTs Sold</p>
                    <p id="volume-sort">Volume</p>
                    <p></p>
                </div>
            </div>
            <div class="artists__container">
                <div class="artists__container__loader">
                    <div class="skeleton" style="width: 100%"></div>
                    <div class="skeleton" style="width: 100%"></div>
                    <div class="skeleton" style="width: 100%"></div>
                    <div class="skeleton" style="width: 100%"></div>
                    <div class="skeleton" style="width: 100%"></div>
                    <div class="skeleton" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="footer__top__left">
                    <div class="footer__top__left__header">
                        <img src="media/icons/store.svg" alt="store logo" />
                        <img src="media/icons/NFTMarketplace.svg"
                             alt="NFT Marketplace" />
                    </div>
                    <p>NFT marketplace UI created with Anima for Figma.</p>
                    <p>Join our community</p>
                    <div class="footer__top__left__icons">
                        <a href="">
                            <img src="media/icons/discord-logo.svg"
                                 alt="Discord Logo" />
                        </a>
                        <a href="">
                            <img src="media/icons/youtube-logo.svg"
                                 alt="Youtube Logo" />
                        </a>
                        <a href="">
                            <img src="media/icons/twitter-logo.svg"
                                 alt="Twitter Logo" />
                        </a>
                        <a href="">
                            <img src="media/icons/instagram-logo.svg"
                                 alt="Instagram Logo" />
                        </a>
                    </div>
                </div>
                <div class="footer__top__middle">
                    <h5>Explore</h5>
                    <div class="footer__top__middle__pages">
                        <a href="pages/marketplace/index.html">Marketplace</a>
                        <a href="pages/rankings/index.html">Rankings</a>
                        <a href="#">Connect a wallet</a>
                    </div>
                </div>
                <div class="footer__top__right">
                    <h5>Join our weekly digest</h5>
                    <p>Get exclusive promotions & updates straight to your inbox.</p>
                    <div class="footer__top__right__form">
                        <form action="" class="emailForm">
                            <input placeholder="Enter your email" class="emailInput" />
                            <button type="submit">
                                <img src="media/icons/envelope.svg"
                                     alt="envelope icon" />Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom__divider"></div>
                <p>All rights reserved Ⓒ 2025</p>
            </div>
        </div>
    </section>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="common/email-verification.js"></script>
    <script src="common/sidebar.js"></script>
    <script src="js/RankingsPageScript.js"></script>
</body>
</html>

@code 
{
}
