.nft-details {
    /*background-color: #1a1a1a;*/
    color: #fff;
    font-family: "Work Sans";
    padding: 50px 0;
}

.nft-details-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
}

.nft-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nft-image-container {
    width: 100%; /* Adjust size as needed */
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.nft-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.nft-title {
    font-size: 2.5rem;
    color: #a259ff;
    margin-bottom: 10px;
}


.nft-price {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 15px;
}

.nft-description {
    background-color: #1c1c1c; /* Updated for a darker shade */
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #333; /* Adding subtle border */
}

    .nft-description h3 {
        font-size: 1.8rem;
        color: #a259ff;
        margin-bottom: 10px;
    }

    .nft-description p {
        font-size: 1.1rem;
        color: #e0e0e0; /* Lighter text color for better readability */
        line-height: 1.6;
    }

.nft-likes-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
}

.nft-image-container-with-likes {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.heart-icon {
    width: 24px;
    height: 24px;
}

.likes-count {
    font-size: 18px;
    font-weight: bold;
}

/* Button Styling */
.nft-actions button {
    background: linear-gradient(90deg, #a259ff 0%, #4a4aff 100%);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.nft-actions button:last-child {
    margin-bottom: 0;
}

.nft-actions button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 8px 15px rgba(162, 89, 255, 0.4);
}

.nft-actions button:active {
    transform: translateY(0px);
    box-shadow: none;
}

.nft-owner-name {
    color: #4a90e2; /* Blue color to resemble a link */
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
