<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../sass/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="icon" type="image/x-icon" href="../../media/icons/fox.svg" />
    <title>Artist</title>
  </head>
  <body id="Artist">
    <section class="loader-container">
      <div class="banter-loader">
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
      </div>
    </section>
    <section class="navbar">
      <a
        class="navbar__left"
        href="../../../client/pages/home/index.html"
        ><img src="../../media/icons/store.svg" alt="Store icon" />
        <img src="../../media/icons/NFTMarketplace.svg" alt="NFT Marketplace"
      /></a>
      <div class="navbar__right">
        <div class="navbar__right sidebar">
          <a href="../../../client/pages/marketplace/index.html"
            >Marketplace</a
          >
          <a href="../../../client/pages/rankings/index.html"
            >Rankings</a
          >
          <a href="#">Connect a wallet</a>
          <a
            href="../../../client/pages/create-account/index.html"
            class="navbar__left__btns__sign-up-btn"
          >
            <img src="../../media/icons/user.svg" alt="User icon" />
            <p>Sign up</p>
          </a>
        </div>
        <img
          id="burger-btn"
          src="../../media/icons/burger.svg"
          alt="Burger icon"
        />
      </div>
    </section>
    <section class="cover">
      <div class="cover__gradient"></div>
    </section>
    <section class="artist">
      <div class="container">
        <div class="artist__left">
          <img src="" alt="" />
          <h2></h2>
          <div class="artist__left__btns">
            <button class="artist__left__btns__copy-btn">
              <img src="../../media/icons/copy.svg" alt="copy icon" />
              <p></p>
            </button>
            <button href="#" class="artist__left__btns__follow-btn">
              <img src="../../media/icons/plus.svg" alt="plus icon" />
              <p>Follow</p>
            </button>
          </div>
          <div class="artist__left__stats">
            <div>
              <h4></h4>
              <p>Volume</p>
            </div>
            <div>
              <h4></h4>
              <p>NFTs Sold</p>
            </div>
            <div>
              <h4></h4>
              <p>Followers</p>
            </div>
          </div>
          <div class="artist__left__bio">
            <h5>Bio</h5>
            <p>The internet's friendliest designer kid.</p>
          </div>
          <div class="artist__left__links">
            <h5>Links</h5>
            <div>
              <img src="../../media/icons/globe.svg" alt="globe icon" />
              <img
                src="../../media/icons/discord-logo.svg"
                alt="discord logo"
              />
              <img
                src="../../media/icons/youtube-logo.svg"
                alt="youtube logo"
              />
              <img
                src="../../media/icons/twitter-logo.svg"
                alt="twitter logo"
              />
              <img
                src="../../media/icons/instagram-logo.svg"
                alt="instagram logo"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="tabs">
      <div class="tabs__line"></div>
      <div class="container">
        <button id="created-button">
          <h5>Created</h5>
          <div>0</div>
        </button>
        <button id="owned-button">
          <h5>Owned</h5>
          <div>0</div>
        </button>
        <button id="collection-button">
          <h5>Collection</h5>
          <div>0</div>
        </button>
      </div>
    </section>
    <section class="nft-cards">
      <div class="container"></div>
      <div class="nft-cards__collection container"></div>
      <div class="nft-cards__empty">
        <h2>Nothing Here ... Yet</h2>
      </div>
    </section>
    <section class="footer">
      <div class="container">
        <div class="footer__top">
          <div class="footer__top__left">
            <div class="footer__top__left__header">
              <img src="../../media/icons/store.svg" alt="store logo" />
              <img
                src="../../media/icons/NFTMarketplace.svg"
                alt="NFT Marketplace"
              />
            </div>
            <p>NFT marketplace UI created with Anima for Figma.</p>
            <p>Join our community</p>
            <div class="footer__top__left__icons">
              <a href=""
                ><img
                  src="../../media/icons/discord-logo.svg"
                  alt="Discord Logo"
              /></a>
              <a href=""
                ><img
                  src="../../media/icons/youtube-logo.svg"
                  alt="Youtube Logo"
              /></a>
              <a href=""
                ><img
                  src="../../media/icons/twitter-logo.svg"
                  alt="Twitter Logo"
              /></a>
              <a href=""
                ><img
                  src="../../media/icons/instagram-logo.svg"
                  alt="Instagram Logo"
              /></a>
            </div>
          </div>
          <div class="footer__top__middle">
            <h5>Explore</h5>
            <div class="footer__top__middle__pages">
              <a
                href="../../../client/pages/marketplace/index.html"
                >Marketplace</a
              >
              <a href="../../../client/pages/rankings/index.html"
                >Rankings</a
              >
              <a href="#">Connect a wallet</a>
            </div>
          </div>
          <div class="footer__top__right">
            <h5>Join our weekly digest</h5>
            <p>Get exclusive promotions & updates straight to your inbox.</p>
            <div class="footer__top__right__form">
              <form action="" class="emailForm">
                <input placeholder="Enter your email" class="emailInput" />
                <button type="submit">
                  <img
                    src="../../media/icons/envelope.svg"
                    alt="envelope icon"
                  />Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="footer__bottom__divider"></div>
          <p>Ⓒ NFT Market. Use this template freely.</p>
        </div>
      </div>
    </section>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="../../common/js/email-verification.js"></script>
    <script src="../../common/js/sidebar.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
